<a href="https://colab.research.google.com/github/MaystryukAY/SparkTask/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Проверка, тест pySpark!

In [ ]:
pip --version

pip 24.1.2 from /usr/local/lib/python3.10/dist-packages/pip (python 3.10)

In [ ]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=673e012a01233f510aadcdd20b39d74b3624ed4aa70b43bae6cdf80843c11ae9
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [ ]:
from pyspark import SparkContext, SparkConf



# Настройка Spark

conf = SparkConf().setAppName("Simple RDD Example").setMaster("local[*]")

sc = SparkContext(conf=conf)



# 1. Создание RDD из списка чисел

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

rdd = sc.parallelize(numbers)



# 2. Трансформации: Фильтрация чётных чисел

even_numbers_rdd = rdd.filter(lambda x: x % 2 == 0)



# 3. Действие: Подсчёт суммы чётных чисел

sum_even_numbers = even_numbers_rdd.sum()



# Вывод результата

print("Чётные числа:", even_numbers_rdd.collect())

print("Сумма чётных чисел:", sum_even_numbers)



a = 5 + 6

print(a)

# Остановка SparkContext

sc.stop()

Чётные числа: [2, 4, 6, 8, 10]
Сумма чётных чисел: 30
11

In [ ]:
#Сначала подключим SparkSession для DataFrame
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("FirstTicket").getOrCreate()

#Считаем данные из нашего файла
df = spark.read.csv("/content/sample_data/weather_data.csv", header=True, inferSchema=True)

#Поле "Дата" не преобразую, тк оно и так имеет нужный формат.
#df.printSchema()

#Подключим SparkSQL
df.createOrReplaceTempView("weather")

#Найдите топ-5 самых жарких дней за все время наблюдений. 3.1
join_df = spark.sql("""
SELECT w.date, w.temperature
FROM weather w
ORDER BY w.temperature desc
""")
join_df.show(5)

# Найдите метеостанцию с наибольшим количеством осадков за max год.
join_df1 = spark.sql("""
SELECT station_id, SUM(precipitation)
FROM weather
WHERE year(date) == year(current_date())-1
GROUP BY station_id
ORDER BY SUM(precipitation) DESC
LIMIT 1
""")
join_df1.show()

# Подсчитайте среднюю температуру по месяцам за все время наблюдений
join_df2 = spark.sql("""
SELECT month(date) as month, avg(temperature)
FROM weather
GROUP BY month(date)
ORDER BY month(date)
""")
join_df2.show()

+----------+------------------+
|      date|       temperature|
+----------+------------------+
|2021-08-20|39.982828249354846|
|2023-12-02| 39.96797489293784|
|2022-03-28|  39.8246894248997|
|2019-02-11| 39.76737697836647|
|2020-06-10| 39.69147838355929|
+----------+------------------+
only showing top 5 rows

+----------+------------------+
|station_id|sum(precipitation)|
+----------+------------------+
| station_5| 642.9302626767898|
+----------+------------------+

+-----+------------------+
|month|  avg(temperature)|
+-----+------------------+
|    1|11.356518462550754|
|    2| 9.067229891101926|
|    3| 7.244080205633994|
|    4|12.024529009744693|
|    5| 9.902883346912718|
|    6|13.421092297254138|
|    7|6.1857183016954576|
|    8|  10.9678002814186|
|    9| 9.596744236573942|
|   10|  9.09884344821895|
|   11| 7.265889994697494|
|   12|11.218592100674337|
+-----+------------------+

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, mean, month, year, when

spark = SparkSession.builder.appName("SecondTicket").getOrCreate()

spark.sparkContext.setLogLevel("ERROR")

dfBook = spark.read.csv("/content/sample_data/books.csv", header = True, inferSchema = True)
dfAuth = spark.read.csv("/content/sample_data/authors.csv", header = True, inferSchema = True)

dfBook.createOrReplaceTempView("books")
dfAuth.createOrReplaceTempView("authors")

dfAuth = dfAuth.withColumn("birth_date", to_date(col("birth_date"), "yyyy-MM-dd"))
dfBook = dfBook.withColumn("publish_date", to_date(col("publish_date"), "yyyy-MM-dd"))

join_df = spark.sql("""
SELECT *
FROM books b
JOIN authors a
ON b.author_id = a.author_id
""")

#join_df.show()

# Найдите топ-5 авторов, книги которых принесли наибольшую выручку.
join_df1 = spark.sql("""
SELECT b.author_id, a.name, sum(b.price)
FROM books b
JOIN authors a
ON b.author_id = a.author_id
GROUP BY b.author_id, a.name
ORDER BY sum(b.price) DESC
LIMIT 5
""")
#join_df1.show()

# Найдите количество книг в каждом жанре.
join_df2 = spark.sql("""
SELECT b.genre, count(title) as count
FROM books b
JOIN authors a
ON b.author_id = a.author_id
GROUP BY b.genre
ORDER BY count(title) desc
""")
#join_df2.show()

# Подсчитайте среднюю цену книг по каждому автору.
join_df3 = spark.sql("""
SELECT b.author_id, a.name, AVG(b.price) as average_price
FROM books b
JOIN authors a
ON b.author_id = a.author_id
GROUP BY b.author_id, a.name
ORDER BY AVG(b.price) desc
""")
#join_df3.show()

# Найдите книги, опубликованные после 2000 года, и отсортируйте их по цене.
join_df4 = spark.sql("""
SELECT b.author_id, b.book_id, b.title, b.genre, b.price,
       b.publish_date, a.name, a.birth_date, a.country
FROM books b
JOIN authors a
ON b.author_id = a.author_id
WHERE year(b.publish_date) >= "2000"
GROUP BY b.author_id, b.book_id, b.title, b.genre, b.price,
         b.publish_date, a.name, a.birth_date, a.country
ORDER BY b.price desc
""")
#join_df4.show()

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, mean, month, year, when

spark = SparkSession.builder.appName("ThreeTicket").getOrCreate()

spark.sparkContext.setLogLevel("ERROR")

dfActor = spark.read.csv("/content/sample_data/actors.csv", header = True, inferSchema = True)
dfMovies = spark.read.csv("/content/sample_data/movies.csv", header = True, inferSchema = True)
dfMovieAct = spark.read.csv("/content/sample_data/movie_actors.csv", header = True, inferSchema = True)

dfActor.createOrReplaceTempView("actors")
dfMovies.createOrReplaceTempView("movies")
dfMovieAct.createOrReplaceTempView("movie_actors")

# join_df = spark.sql("""
# SELECT *
# FROM movie_actors ma
# JOIN actors a
# ON  ma.actor_id = a.actor_id
# JOIN movies m
# ON ma.movie_id = m.movie_id
# """)
#join_df.show()

# Найдите топ-5 жанров по количеству фильмов.
join_df1 = spark.sql("""
SELECT m.genre, count(*) as num_movies
FROM movies m
GROUP BY m.genre
ORDER BY num_movies DESC
LIMIT 5
""")
#join_df1.show()

# Найдите актера с наибольшим количеством фильмов.
join_df2 = spark.sql("""
SELECT a.name, count(ma.movie_id) as num_movies
FROM movie_actors ma
JOIN actors a
ON  ma.actor_id = a.actor_id
GROUP BY a.name
ORDER BY count(ma.movie_id) DESC
LIMIT 1
""")
#join_df2.show()

# Подсчитайте средний бюджет фильмов по жанрам.
join_df3 = spark.sql("""
SELECT m.genre, avg(budget) as avg_budget
FROM movies m
GROUP BY m.genre
""")
#join_df3.show()

# Найдите фильмы, в которых снялось более одного актера из одной страны.
join_df4 = spark.sql("""
SELECT m.title, a.country, count(a.actor_id) as num_actors
FROM movie_actors ma
JOIN actors a
ON  ma.actor_id = a.actor_id
JOIN movies m
ON ma.movie_id = m.movie_id
GROUP BY m.title, a.country
HAVING count(a.actor_id) > 1
""").show()

+--------+---------+----------+
|   title|  country|num_actors|
+--------+---------+----------+
| Movie_7|    India|         2|
| Movie_3|      USA|         2|
|Movie_10|       UK|         2|
|Movie_15|    India|         2|
|Movie_18|Australia|         2|
| Movie_1|    India|         3|
| Movie_2|      USA|         2|
| Movie_7|      USA|         2|
|Movie_10|      USA|         2|
+--------+---------+----------+

In [ ]:
#Итоговое задание  №4
!pip install faker

import csv
from faker import Faker
import random

fake = Faker()

num_records = 100000

http_methods = ['GET', 'POST', 'PUT', 'DELETE']
response_codes = [200, 301, 404, 500]

file_path = "web_server_logs.csv"

with open(file_path, mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['ip', 'timestamp', 'method', 'url', 'response_code', 'response_size'])

    for _ in range(num_records):
        ip = fake.ipv4()
        timestamp = fake.date_time_this_year().isoformat()
        method = random.choice(http_methods)
        url = fake.uri_path()
        response_code = random.choice(response_codes)
        response_size = random.randint(100, 10000)

        writer.writerow([ip, timestamp, method, url, response_code, response_size])

print(f"Сгенерировано {num_records} записей и сохранено в {file_path}")

Requirement already satisfied: faker in /usr/local/lib/python3.10/dist-packages (28.4.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Сгенерировано 100000 записей и сохранено в web_server_logs.csv

In [26]:
!pip install pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, mean, month, year, when

spark = SparkSession.builder.appName('read').getOrCreate()

df_logs = spark.read.csv('web_server_logs.csv', header=True, inferSchema=True)

"""
Создал отдельный dataframe и таблицу для удобства, чтобы попробовать решить задачи разными подходами,
например 1 и 2 задачу так скажем в "sql стиле", а 3 и 4 в "пайтон стиле" :)
Самому гораздо удобнее использовать "sql стиль", но 3 задача очень лаконично выглядит в "пайтон стиле"
 """

df = spark.read.csv('web_server_logs.csv', header=True, inferSchema=True)
df.createOrReplaceTempView("logs")

# 1 Сгруппируйте данные по IP и посчитайте количество запросов для каждого IP, выводим 10 самых активных IP.
df = spark.sql("""
SELECT l.ip, count(*) as request_count
FROM logs l
GROUP BY l.ip
ORDER BY count(l.ip) desc
LIMIT 10
""").show()

# 2 Сгруппируйте данные по HTTP-методу и посчитайте количество запросов для каждого метода.
df = spark.sql("""
SELECT l.method, count(*) as method_count
FROM logs l
GROUP BY l.method
ORDER BY count(*) desc --хоть и не было условия на сортировку, но так красивее :)
""").show()

# 3 Профильтруйте и посчитайте количество запросов с кодом ответа 404.
count_errors = (
    df_logs
        .filter(col('response_code') == 404)
        .count()
)
print(f'Number of 404 response codes: {count_errors}')

# 4 Сгруппируйте данные по дате и просуммируйте размер ответов, сортируйте по дате.
(
    df_logs
        .groupBy(to_date(col('timestamp')).alias('date'))
        .agg({'response_size': 'sum'})
        .withColumnRenamed('sum(response_size)', 'total_response_size')
        .orderBy(col('date'))
).show()

spark.stop()

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
+--------------+-------------+
|            ip|request_count|
+--------------+-------------+
| 50.213.38.181|            2|
|  155.72.18.30|            2|
|   33.162.59.4|            1|
|   57.0.39.236|            1|
|169.91.193.185|            1|
|214.214.72.250|            1|
|219.180.47.177|            1|
| 48.162.111.29|            1|
|  56.53.119.46|            1|
|20.169.132.224|            1|
+--------------+-------------+

+------+------------+
|method|method_count|
+------+------------+
|  POST|       25172|
|   PUT|       24994|
|   GET|       24989|
|DELETE|       24845|
+------+------------+

Number of 404 response codes: 25018
+----------+-------------------+
|      date|total_response_size|
+----------+-------------------+
|2024-01-01|            1990489|
|2024-01-02|            1797495|
|2024-01-03|            2019891|
|2024-01-04|            1967152|
|2024-01-05|            2228000|
|2024-01-06|            1861014|
|2024-01-07|            1971706|
|2024-01-08|            1999713|
|2024-01-09|            1878646|
|2024-01-10|            1870385|
|2024-01-11|            1816006|
|2024-01-12|            1961107|
|2024-01-13|            2053117|
|2024-01-14|            2077495|
|2024-01-15|            1930719|
|2024-01-16|            1847616|
|2024-01-17|            1833542|
|2024-01-18|            1815231|
|2024-01-19|            2054088|
|2024-01-20|            1814203|
+----------+-------------------+
only showing top 20 rows